Answer 1:

In [2]:
Skillsanta_Dict = {
  "name": "Sachin",
  "age":22,
  "salary": 60000,
  "city": "New Delhi"
}

Skillsanta_Dict['location'] = Skillsanta_Dict.pop('city')
print(Skillsanta_Dict)

{'name': 'Sachin', 'age': 22, 'salary': 60000, 'location': 'New Delhi'}

Answer 2:

In [3]:
def CountFrequency(my_list): 
      
   # Creating an empty dictionary  
   count = {} 
   for i in [11,45,8,11,23,45,23,45,89]: 
    count[i] = count.get(i, 0) + 1
   return count 
  
# Driver function 
if __name__ == "__main__":  
    my_list =[11,45,8,11,23,45,23,45,89] 
    print(CountFrequency(my_list))

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

Answer 3:

In [1]:
sampleList = [87, 52, 44, 53, 54, 87, 52, 53]

print("Original list", sampleList)

sampleList = list(set(sampleList))
print("unique list", sampleList)

tuple = tuple(sampleList)
print("tuple ", tuple)

print("Minimum number is: ", min(tuple))
print("Maximum number is: ", max(tuple))

Original list [87, 52, 44, 53, 54, 87, 52, 53]
unique list [44, 52, 53, 54, 87]
tuple  (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87

Answer 4:

In [4]:
def showEmployee(name, salary=50000):
    print("Employee", name, "salary is:", salary)

showEmployee("Eddy", 50000)
showEmployee("Eddy")

Employee Eddy salary is: 50000
Employee Eddy salary is: 50000

Answer 5:

In [5]:
def outerFun(a, b):
    square = a**2
    def innerFun(a,b):
        return a+b
    add = innerFun(a, b)
    return add+5

result = outerFun(5, 10)
print(result)

20

Answer 6:

In [6]:
# Python program to display the Fibonacci sequence

def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = 10

# check if the number of terms is valid
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

Answer 7:

In [7]:
def displayStudent(name, age):
    print(name, age)

displayStudent("Eddy", 22)

showStudent = displayStudent
showStudent("Eddy", 22)

Eddy 22
Eddy 22

Answer 8:

In [17]:
while True:
    num = input("Please enter your mobile number ")
    try:
        val = int(num)
        print("Mobile number is: ", val)
        break;
    except ValueError:
        try:
            float(num)
            print("Mobile number can not have symbols")
           
            break;
        except ValueError:
            print("This is not a number. Please enter a valid number")

Please enter your mobile number Eddy
This is not a number. Please enter a valid number
Please enter your mobile number 9999999999
Mobile number is:  9999999999

Answer 9:

In [18]:
def up_low(s):      
    u = sum(1 for i in s if i.isupper())
    l = sum(1 for i in s if i.islower())
    print( "No. of Upper case characters : %s,No. of Lower case characters : %s" % (u,l))

up_low("The quick Brown Fox")

No. of Upper case characters : 3,No. of Lower case characters : 13

Answer 10:

In [19]:
n = int(input("Enter any number: "))
sum1 = 0
for i in range(1, n):
    if(n % i == 0):
        sum1 = sum1 + i
if (sum1 == n):
    print("The number is a Perfect number!")
else:
    print("The number is not a Perfect number!")

Enter any number: 496
The number is a Perfect number!